.packageButton{
    border: 1px solid gray;
    padding: 10px;
    background-color: lightblue;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 	4px;

}
.packageButton:hover{
    background-color: lightsalmon;
    cursor: pointer;
}